
.editor-container {
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .editor-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }
  
  .create-container{
    margin: auto;
  }
  
  .tileset-container{
    position: relative;
    flex-grow: 1;
    overflow: auto; /* This makes the blue selected square stay inside and not over everything*/
    height: 340px;
    margin: auto;
  }
  
  .selected-tile-container{
    position: absolute;
  }
  
  .layers{
    overflow:auto;
    height: 300px;
    margin: auto;
  }
  
  .layers-container h3{
    margin: 0.5rem 0;
  }
  
  .tileset{
    padding: 1px;
    user-select: none;
    cursor: pointer;
  }
  

  
  .layers-list input[type="radio"]{
    display: none;
  }
  
  .layers-list input[type="radio"]:checked+label{
    background-color: #242424;
  }
  
  .layers-list label{
    width: 100%;
    height: 100%;
    padding: 10px 13px; 
    cursor: pointer;
  }
  
  .layer{/*TODO melhorar a representacao da camada*/
    display: flex;
    background-color: #7B7B7B;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    border: 2px solid #ccc;
    justify-content: space-between;
  }
  
  
  .layers-options {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  .top-menu{
    display: flex;
    justify-content: space-between;
  }
  