:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.editor-container {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tileset-container{
  position: relative;
  flex-grow: 1;
  overflow: auto; /* This makes the blue selected square stay inside and not over everything*/
  height: 340px;
  margin: auto;
}

.selected-tile-container{
  position: absolute;
}

.layers{
  overflow:auto;
  height: 300px;
  margin: auto;
}

.layers-container h3{
  margin: 0.5rem 0;
}

.tileset{
  padding: 1px;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.layer{
  list-style: none;
  display: flex;
  cursor: pointer;
  background-color: #7B7B7B;
  align-items: center;
  border-radius: 5px;
  padding: 10px 13px;
  margin-bottom: 0.8rem;
  border: 1px solid #ccc;
  justify-content: space-between;
}

.layer span{
  font-weight: 500;
}

.details{
  display: flex;
  align-items: center;
}

.layers-options {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.opt-button{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: .25rem;
  background-color: aliceblue;
}

.opt-button:hover{
  background-color: rgb(192, 204, 214);
}